<h1>Bienvenido a la p치gina Home</h1>

{{#if user}}
  <p>Hola, {{user.first_name}} {{user.last_name}}!</p>
  <a href="/profile">Ver perfil</a> |
  <a href="/logout">Cerrar sesi칩n</a>
{{else}}
  <p>No est치s logueado.</p>
  <a href="/login">Iniciar sesi칩n</a> | <a href="/register">Registrarse</a>
{{/if}}
