<h1>Registrarse</h1>

<form action="/api/sessions/register" method="POST">
  <label>Nombre: <input type="text" name="first_name" required /></label><br/>
  <label>Apellido: <input type="text" name="last_name" required /></label><br/>
  <label>Email: <input type="email" name="email" required /></label><br/>
  <label>Edad: <input type="number" name="age" required /></label><br/>
  <label>Contraseña: <input type="password" name="password" required /></label><br/>
  <button type="submit">Registrar</button>
</form>
